<!doctype html>
<html>
<head>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<title>AWS Rocks!</title>
	<style type="text/css">
      		.container {
        	max-width: 500px;
        	padding-top: 100px;
      		}
    	</style>
</head>
<body>
<h1>Hello World!</h1>
<h1>Test</h1>
<h2>YAY!!</h2>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</body>
</html>
